body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* header section here */
/* nav section */
.nav-title .game-logo img{
    width: 50px;
    height: 40px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 0 240px;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
.nav-title span{
    color: #FF42A5FF
}
.nav-content{
   display: flex;
   margin-top: 54px;
}
.nav-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    color: rgb(60, 53, 79);
    font-size: 18px;
    font-weight: 500;
    border: 0;
    padding: 15px 25px;
}
nav> ul{
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 32px;
}
/* banner section here */
.banner-container{
    display: flex;
    margin: 35px 240px 55px 0px;
}
.banner-content{
    padding: 148px 195px 148px 240px;
    background-image: url(../images/Group\ 14.png);
}
.banner-title{
    color: rgb(11, 2, 35);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.banner-name{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip:
    text;
    -webkit-text-fill-color:
    transparent;
    background-clip:
    text;
    text-fill-color:
    transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 0px;
}
.banner-description{
    color: rgb(83, 76, 100);
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 20px;
}
.banner-img{
    margin: 20px 0px 0px 65px;
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    padding: 20px 40px;
    border: 0px;
}
.btn-secondary{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: rgb(78, 197, 247);
    padding: 20px 40px;
    border: 0px;
    margin-left: 24px;
}
/* gamer section here */
.gamer-container{
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%,rgba(255, 66, 165, 0.03) 87.942%);
    display: flex;
    padding: 55px 240px;
}
.gamer-content{
    margin-left: 52px;
    text-align: right;
}
.gamer-title{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip:
    text;
    -webkit-text-fill-color:
    transparent;
    background-clip:
    text;
    text-fill-color:
    transparent;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}
.gamer-description{
    color: rgb(83, 76, 100);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 32px;
}
.gamer-purpose{
    color: rgb(83, 76, 100);
    Font weight: 500;
    Font size: 24px;
}
.gamer-ending{
    color: rgb(83, 76, 100);
    Font weight: 700;
    Font size: 32px;
}
/* online gaming section here */
.online-game{
    text-align: center;
    margin: 120px 216px;
}
.online-game-title{
    color: rgb(11, 2, 35);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.online-game-description{
    color: rgb(83, 76, 100);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 45px;
}
.online-img-container{
    display: flex;
    gap: 24px;
}
.online-img img{
    margin-bottom: 24px;
}